<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>Enregistrer un nouveau livre</h2>
    <form [formGroup]="newpostForm" (ngSubmit)="onAdd()">
      <div class="form-group">
        <label for="title">Titre</label>
        <input type="text" id="title" name="title" formControlName="title" class="form-control">
      </div>
      <div class="form-group">
        <label for="content">Description</label>
        <textarea id="content" name="content" formControlName="content" class="form-control">
        </textarea>
      </div>
      <button class="btn btn-primary" type="submit">Ajouter</button>
    </form>
  </div>
</div>
